APP_NAME="Traiteur Passion"
APP_ENV=dev
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=localhost
DB_NAME=traiteur
DB_USER=root
DB_PASS=
DB_CHARSET=utf8mb4

ADMIN_USER=admin
# Mot de passe: ChangeMe!2026 (à changer immédiatement)
ADMIN_PASSWORD_HASH=$2y$10$ksKrVZ8biqaJgEla5/wV.ez9z0utjv2cwp/9JClRlWM8OwXx2U0gG
