@use "base/reset";
@use "base/globals";
@use "base/typography";

@use "layout/container";

@use "components/header";
@use "components/footer";
@use 'components/motions';
@use "components/buttons";


@use "pages/home/home_hero";
@use "pages/menu/menu";
@use "pages/about/about";
