@use "base/reset";
@use "base/globals";
@use "base/typography";

@use "layout/container";

@use "components/header";
@use "components/footer";
@use 'components/motions';
@use "components/buttons";


@use "pages/home/home_hero";
//@use 'pages/home/home_story';
//@use 'pages/home/home_method';
//@use "pages/home/home_sections";
//@use "pages/home/home_trust";